<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<link rel="stylesheet" href="/css/style.css">
</link>

<body class="body">

    <div class="container">

            <form action="add" method="POST">
                <h1>Add Data</h1>

        <div class="input">
            <label for="exampleCheck1">String</label>
            <input class="input1" placeholder="String" name="string">
        </div>

        <div class="input">
            <label for="exampleCheck1">Integer</label>
            <input class="input1" placeholder="Integer" name="integer">
        </div>

        <div class="input">
            <label for="exampleCheck1">Float</label>
            <input class="input1" placeholder="Float" name="float">
        </div>

        <div class="update">
            <label for="exampleCheck1">Date</label>
            <input class="update1" type="date" placeholder="Date" name="date">
        </div>

        <div class="input">
            <label for="exampleCheck1">Boolean</label>
            <select class="select-input" name="boolean">
                <option value="" selected>choose the boolean ....</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <a href="add"> <button class="Add">Save</button></a>
        <a href="/" class="Back" >Back</a>

        </form>

    </div>

</body>

</html>